$primary: SeaGreen;
// $body-bg: Honeydew

.card { cursor: pointer;}

.card:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px seagreen;
  }

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

